<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
<title th:include=":: #pageTitle">Linker</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/customfavicon2.ico">
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">LINKER</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation" style="">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Add
							note <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/list">List</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<div sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
						</li>
					</div>
					<div sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					</div>
					<div sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/registration">Registration</a></li>
					</div>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>
