<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head">
</head>
<body>
	<header th:insert="fragments.html :: navbar"> </header>
	<div class="container">
		<h2>Login</h2>
		<form th:action="@{/login}" method="post">
			<p>
				<input type="text" class="form-control" name="username"
					id="username" placeholder="UserName" required="true"
					autofocus="true" />
			</p>
			<p>
				<input type="password" class="form-control" name="password"
					id="password" placeholder="Password" required="true" />
			</p>
			<p>
				Don't have an account? <a href="/registration"
					th:text="'Sign up.'"></a>
			</p>
			<p>
				<input type="submit" class="btn btn-primary" value="Sign In" />
			</p>
		</form>
	</div>
</body>
</html>