<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head">
</head>
<body>
	<header th:insert="fragments.html :: navbar"> </header>
	<div class="container">
		<h2>Registration</h2>
		<form th:action="@{/registration}" th:object="${user}" method="post">
			<input type="text" name="username" id="username"
				placeholder="UserName" required="true" autofocus="true" /> <input
				type="password" name="password" id="password" placeholder="Password"
				required="true" /> <input type="submit" value="Sign Up" />
		</form>
	</div>
</body>
</html>