<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>LINKER!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h2>Registration</h2>
		<form th:action="@{/registration}" th:object="${user}" method="post">
	        <input type="text" name="username" id="username" placeholder="UserName" required="true" autofocus="true"/>
	      	<input type="password" name="password" id="password" placeholder="Password" required="true"/>
	      	<input type="submit" value="Sign Up"/>
      	</form>
	</body>
</html>